<% if (typeof(login) == 'undefined') { %>
  <header>
    <div class="_logo" onclick="window.location.href='/'">
      <img src="https://img.icons8.com/ios-filled/100/000000/gorilla.png">
      <h1>PROJECT MONKEY</h1>
    </div>
    <% if (!session.ok) { %>
      <!-- session false -->
      <div class="sessionoff">
        <a href="/login/">Iniciar sesión</a>
        <a href="/register/">Crear cuenta</a>
      </div>
    <% }else{ %>
      <!-- session true -->
      <div class="sessionon">
        <div class="img">
          <div onclick="window.location.href='/profile/<%=session.id%>/temas'">
            <img src="<%= session.picture %>">
          </div>
        </div>
        <h1  onclick="window.location.href='/profile/<%=session.id%>/temas'"><%= session.username %></h1>
        <nav>
          <li><a onclick="cerrarSession()">Cerrar sesión</a></li>
        </nav>
      </div>
    <% } %>
  </header>
  <% if (typeof(dashboard) == 'undefined') { %>
  <section class="menu">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
       <% if (session.ok) { %>
        <li><a href="/profile/<%=session.id%>/temas/">Perfil</a></li>
       <% } %>
       <% if (session.class == 1 || session.class == 2) { %>
        <li><a href="/dashboard/">Dashboard</a></li>
       <% } %>
      </ul>
    </nav>
  </section>
    <section class="navigation">
      <a href="/">Inicio</a>
      <% if (typeof(categoria) != "undefined"){%>
        / <a href="/foros/<%=data.id%>/1/"><%=data.foro%></a>
        <% }%>
        <% if (typeof(crearpost) != "undefined"){%>
          / <a href="/foros/<%=data.id%>/1/"><%= data.foro%></a>
          / <a href="/nuevo_post/<%=data.id%>/">crear post</a>
          <% }%>
          <% if (typeof(crearcomentario) != "undefined"){%>
            / <a href="/foros/<%=data.foroid%>/1/"><%= data.foro%></a>
            / <a href="/comentar_post/<%=data.postid%>/">nuevo mensaje</a>
            <% }%>
            <% if (typeof(post) != "undefined"){%>
              / <a href="/foros/<%=data.foroid%>/1/"><%= data.foro%></a>
              / <a href="/foro/tema/<%=data.foroid%>/<%=data.id%>/1/"><%= data.post.title %></a>
              <% }%>
              <% if (typeof(profile) != "undefined"){%>
                / <a>perfil</a> /
                <% if (headeractive == 'temas') { %>
                  <a href="/profile/<%= data.id %>/temas/"> <%= data.username %> / Temas</a>
                  <% }else if(headeractive == 'comentarios'){ %>
                    <a href="/profile/<%= data.id %>/comentarios/"> <%= data.username %> / Comentarios</a>
                    <% }%>   
                    <% }%>    
                  </section>
                  <% } %>
                <% } %>