<main>
  <div class="header">
    <h1><%=data.foro%></h1>
  </div>
  <div class="footerPag onthetop">
    <a class="button"
    <% if (session.ok) { %>
      href="/nuevo_post/<%= data.id%>/"
    <% }else{ %> onclick="sesionAlert()" <%} %>
    >Crear post</a>
    <div id="pagination">
      <div class="before
      <% if (data.page == 1) { %> dissabled" <% } else{ %>" onclick="window.location.href = '/foros/<%=data.id%>/<%=parseInt(data.page)-1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
      <p>Página <b><%=data.page%></b> de <b><%=Math.ceil(data.count/data.end)%></b></p>
      <div class="next
      <% if (data.page == Math.ceil(data.count/data.end)) { %> dissabled"
      <% } else{ %>" onclick="window.location.href = '/foros/<%=data.id%>/<%=parseInt(data.page)+1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
    </div>
  </div>
  <section>
    <% if (data.post.length != 0) { %>
      <table>
        <thead>
          <tr>
            <th class="tema">TEMA</th>
            <th class="autor">AUTOR</th>
            <th class="umensaje">ÚLTIMO MENSAJE</th>
            <th class="resp">RESP.</th>
            <th class="votos">VOTOS</th>
          </tr>
        </thead>
        <tbody>
     <% data.post.forEach(n => { %>
        <tr>
          <td class="tema">
            <div>
              <a href='/foro/tema/<%=data.id%>/<%=n.id%>/1/'><%= n.title %></a>
            </div>
          </td>
          <td class="autor">
              <img src="<%=n.picture%>" onclick="window.location.href = '/profile/<%=n.creatorId%>/temas/'">
              <div>
                <a href="/profile/<%=n.creatorId%>/temas/"><%=n.creatorUsername%></a>
                <br>
                <span>
                  <% if (n.created.y != 0) { %>
                    <%= n.created.y == 1 ? 'Hace '+n.created.y+' Año': 'Hace '+n.created.y+' Años'%>
                 <% }else if(n.created.mo != 0){ %>
                    <%= n.created.mo == 1 ? 'Hace '+n.created.mo+' Mes': 'Hace '+n.created.mo+' Meses'%>
                  <% }else if(n.created.d){ %>
                    <%= n.created.d == 1 ? 'Hace '+n.created.d+' Día' : 'Hace '+n.created.d+' Días'%>
                  <% }else if(n.created.h){ %>
                    <%= n.created.h == 1 ? 'Hace '+n.created.h+' Hora' : 'Hace '+n.created.h+' Horas'%>
                  <% }else if(n.created.m){ %>
                    <%= n.created.m == 1 ? 'Hace '+n.created.m+' Minuto' : 'Hace '+n.created.m+' Minutos'%>
                  <% }else if(n.created.s){ %>
                    <%= n.created.s == 1 ? 'Hace '+n.created.s+' Segundo' : 'Hace '+n.created.s+' Segundos'%>
                  <% } %>
                </span>
              </div>     
          </td>
          <td class="umensaje">
          
            <!-- si hay comentarios -->
            <a href="/profile/<%=n.lastUserId%>/temas/"><%= n.lastUser %></a>
            <br>
            <span>
             <% if (n.lastComment.y != 0) { %>
                <%= n.lastComment.y == 1 ? 'Hace '+n.lastComment.y+' Año': 'Hace '+n.lastComment.y+' Años'%>
             <% }else if(n.lastComment.mo != 0){ %>
                <%= n.lastComment.mo == 1 ? 'Hace '+n.lastComment.mo+' Mes': 'Hace '+n.lastComment.mo+' Meses'%>
              <% }else if(n.lastComment.d){ %>
                <%= n.lastComment.d == 1 ? 'Hace '+n.lastComment.d+' Día' : 'Hace '+n.lastComment.d+' Días'%>
              <% }else if(n.lastComment.h){ %>
                <%= n.lastComment.h == 1 ? 'Hace '+n.lastComment.h+' Hora' : 'Hace '+n.lastComment.h+' Horas'%>
              <% }else if(n.lastComment.m){ %>
                <%= n.lastComment.m == 1 ? 'Hace '+n.lastComment.m+' Minuto' : 'Hace '+n.lastComment.m+' Minutos'%>
              <% }else if(n.lastComment.s){ %>
                <%= n.lastComment.s == 1 ? 'Hace '+n.lastComment.s+' Segundo' : 'Hace '+n.lastComment.s+' Segundos'%>
              <% } %>
            </span>
          </td>
          <td class="resp">
            <p><%= n.comments%></p>
          </td>
          <td class="votos">
            <p><%= n.likes%></p>
          </td>
        </tr>
        <% }) %>
      </tbody>
      <tfoot>
      </tfoot>
    </table>
   <% }else{ %>
    <div class="nopost">
     <% if (data.page > Math.ceil(data.count/data.end)) { %>
        <h1>No hay post en está página</h1>
     <% }else{ %>
       <h1>Todavía no hay ningun post</h1>
      <% } %> 
    </div>
  <% } %>
  <% if (data.post.length != 0) { %>
  <div class="footerPag">
    <a class="button"
    <% if (session.ok) { %>
      href="/nuevo_post/<%= data.id%>/"
    <% }else{ %> onclick="sesionAlert()" <%} %>
    >Crear post</a>
      <div id="pagination">
      <div class="before
        <% if (data.page == 1) { %> dissabled" <% } else{ %>" onclick="window.location.href = '/foros/<%=data.id%>/<%=parseInt(data.page)-1%>/'"<% } %> 
        ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
        <p>Página <b><%=data.page%></b> de <b><%=Math.ceil(data.count/data.end)%></b></p>
        <div class="next
        <% if (data.page == Math.ceil(data.count/data.end)) { %> dissabled"
        <% } else{ %>" onclick="window.location.href = '/foros/<%=data.id%>/<%=parseInt(data.page)+1%>/'"<% } %> 
        ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
      </div>
    </div>
      <% } %>
  </section>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
