<form>
  <main class="crearpost">
    <h1>Nuevo mensaje</h1>
    <h2>Tema: <a style="color: rgb(255, 45, 8);" href="/foro/tema/<%= data.foroid%>/<%=data.postid%>/1/"><%= data.posttitle%></a></h2>
    <div class="edtior" data-tiny-editor
          data-fontname="no">
      <p>
      </p>
    </div>
    <input type="text"  id="postid" hidden value="<%= data.postid %>">
    <button class="button" type="submit">Publicar mensaje</button>
  </main>
</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/editor.js"></script>
<script>


  document.querySelector('form').addEventListener('submit', e => {
    e.preventDefault();
    titulo = document.querySelector('.title');
    content = document.querySelector('.__editor');
    fetch('/comentar_post',
          {method: 'POST',
          body: JSON.stringify({
            postid: document.querySelector('#postid').value,
            content: document.querySelector('.__editor').innerHTML
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
         if(res.ok){
          Swal.fire(
            'Commentario guardado',
            '',
            'success',
          ).then(() => {
            window.location.href = `/foro/tema/<%= data.foroid%>/${document.querySelector("#postid").value}/1/`
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error',
            '',
            'error',
            )
         }
      });
  })
</script>

