<form>
  <main class="crearpost">
    <h1>Nuevo mensaje</h1>
    <h2>Tema: <a style="color: rgb(255, 45, 8);" href="/foro/tema/<%= data.foroid%>/<%=data.postid%>/1/"><%= data.posttitle%></a></h2>
    <div class="edtior comenteditor" data-tiny-editor>
      <textarea class=".__editor" required minlength="5" maxlength="150"></textarea>
      <div class="totalletters">150 caracteres restantes</div>
    </div>
    <input type="text"  id="postid" hidden value="<%= data.postid %>">
    <button class="button" type="submit">Publicar mensaje</button>
  </main>
</form>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script> const dataid = "<%= data.foroid%>"; </script>
<script src="/js/crearcomentario.js"></script>

