<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<main>
  <aside>
    <nav>
      <li onclick="window.location.href= '/'"><a><i class="fa-solid fa-house"></i>Inicio</a></li>
      <li  onclick="window.location.href= '/dashboard'"><a><i class="fa-solid fa-gauge"></i>Dashboard</a></li>
      <li class="active" onclick="window.location.href= '/dashboard/usuarios'"><a><i class="fa-solid fa-users"></i>Usuarios</a></li>
      <li onclick="window.location.href= '/dashboard/posts'"><a href="/dashboard/dashboard"><i class="fa-solid fa-message"></i>Posts</a></li>
      <!--  <li><a href="/dashboard/categorias"><i class="fa-solid fa-bookmark"></i>categorias</a></li>
      <li><a href="/dashboard/foros"><i class="fa-solid fa-inbox"></i>Foros</a></li>
      
    </nav> -->
  </aside>
  <section class="main">
    <header>
      <h1>Usuarios</h1>
    </header>
    <section class="content">
      <table id="example" class="display tablausers" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuario</th>
                <th>Unido</th>
                <th>Foto</th>
                <th>Rango</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < users.length; i++) { %>
              <% let x = users[i].class == 1 ? "Owner" : users[i].class == 2 ? "Admin" :"Usuario"%>
              <tr id="user<%= users[i].id %>">
                <td style="text-align:start;"><%= users[i].id %></td>
                <td  style="text-align:start;"><a class="linkuser" href="/profile/<%= users[i].id %>/temas/"><%= users[i].username %></a></td>
                <td><%= users[i].created %></td>
                <% if (users[i].class == 4) { %>
                  <td><a class="linkuser" href="/profile/<%= users[i].id %>/temas/"><img src="/img/defaultuser.png"></a></td>
                 <% }else{ %>
                  <td><a class="linkuser" href="/profile/<%= users[i].id %>/temas/"><img src="<%= users[i].picture %>"></a></td>
                  <%}%>
                <td><%= x %> </td>
                <% if (session.class == 1) { %>
                  <% if (x == "Usuario" || x == "Admin") { %>
                    <td><button class="btn red" onclick="Eliminar('<%= i%>','<%= users[i].id %>','<%= users[i].username %>')">Eliminar</button></td>
                    <td><button class="btn grn" onclick="editar('<%= i%>','<%= users[i].id %>')">Editar</button></td>
                        <% }else{ %>
                          <td style="color: rgb(111, 111, 111);">No se puede</td>
                          <td style="color: rgb(111, 111, 111);">No se puede</td>
                        <% } %>  
                  <% } %>
                <% if (session.class == 2) { %>
                  <% if (x == "Usuario") { %>
                    <td><button class="btn red" onclick="Eliminar('<%= i%>','<%= users[i].id %>','<%= users[i].username %>')">Eliminar</button></td>
                    <td><button class="btn grn" onclick="editar('<%= i%>','<%= users[i].id %>')">Editar</button></td>
                      <% }else{ %>
                        <td style="color: rgb(111, 111, 111);">No se puede</td>
                        <td style="color: rgb(111, 111, 111);">No se puede</td>
                      <% } %>  
                <% } %>
              </tr>
         <% } %>
      </tbody>
    </section>
  </section>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );

function editar(i,id){
  let user = document.querySelector('#user'+id).children[1].children[0].innerText;
  let rank = document.querySelector('#user'+id).children[4].innerText;
  let k = rank == 'Admin' ? "checked=true" : "";
  const form = `
    <div class="hideeditar">
    <div class="hideoncl" onclick="document.querySelector('.hideeditar').remove()"></div>
    <div class="boxedit">
      <h2><b>Editar -</b> ${user}</h2>
      <div class="inpts">
        <form id="fomeditars">
          <div class="text-field" id="password">
            <input minlength="4" value="${user}" required autofocus> 
            <label class="label">Usuario</label>
          </div>
          <p style="color:red; display:none;">El nombre de usuario ya existe</p>
          <div class="admins">
            <label for="ddd">Administrador</label>
            <input id="ddd" ${k} type="checkbox">
          </div>
          <div class="foto">
            <label for="aaa">Borrar foto</label>
            <input id="aaa" type="checkbox">
            </div>   
          <input hidden value="${id}">
          <button class="btn grn" type="submit">Editar</button>
          </form>
      </div>
      </div>
      </div>`;
      document.querySelector('body').innerHTML += form;

      document.querySelector('#fomeditars').addEventListener('submit', e => {
        e.preventDefault()
        
        fetch('/editarUser',
          {method: 'POST',
          body: JSON.stringify({
            id: e.currentTarget[3].value,
            username: e.currentTarget[0].value,
            admin: e.currentTarget[1].checked,
            deletefoto: e.currentTarget[2].checked
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
          console.log(res);
         if(res.ok){
          document.querySelector('#user'+res.id).children[1].children[0].innerText = res.username;
          document.querySelector('#user'+res.id).children[4].innerText = res.admin ? 'Admin' : 'Usuario';
          if(res.foto){
            document.querySelector('#user'+res.id).children[3].children[0].children[0].src = "/img/defaultuser.png"
          }
          Swal.fire(
            'Usuario editado correctamente',
            '',
            'success',
          ).then(() => {
            document.querySelector('.hideeditar').remove()
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error en el servidor',
            '',
            'error',
          ).then(() => {
            document.querySelector('.hideeditar').remove()
          })
         }
      });
      })
    }
    

  
  
    function Eliminar(i,id,usr){
  Swal.fire({
  title: `Quieres eliminar a\n${usr}?`,
  text: 'Se eliminarán todos los likes, comentarios y post.\nLos cambios son irreversibles',
  showDenyButton: true,
  showCancelButton: true,
  showConfirmButton: false,
  denyButtonText: `Eliminar`,
}).then((result) => {
  if (result.isDenied) {
    EliminarSi(id,i);
  }
})
}

function EliminarSi(id,i){
  fetch('/deleteUser',
          {method: 'POST',
          body: JSON.stringify({
            id
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
         if(res.ok){
          Swal.fire(
            'Usuario eliminado correctamente',
            '',
            'success',
          ).then(() => {
            document.querySelector('#user'+id).remove()
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error',
            '',
            'error',
            )
         }
      });
}


</script>