<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<main>
  <aside>
    <nav>
      <li onclick="window.location.href= '/'"><i class="fa-solid fa-house"></i><a>Inicio</a></li>
      <li  onclick="window.location.href= '/dashboard'"><i class="fa-solid fa-gauge"></i><a>Dashboard</a></li>
      <li  onclick="window.location.href= '/dashboard/usuarios'"><i class="fa-solid fa-users"></i><a>Usuarios</a></li>
      <li class="active"><i class="fa-solid fa-bookmark"></i><a href="/dashboard/categorias">categorias</a></li>
      <li onclick="window.location.href= '/dashboard/foro'"><i class="fa-solid fa-inbox"></i><a href="/dashboard/foro">Foros</a></li>
      <li  onclick="window.location.href= '/dashboard/posts'"><i class="fa-solid fa-message"></i><a href="/dashboard/posts">Posts</a></li>
      <li onclick="window.location.href= '/dashboard/comentarios'"><i class="fa-solid fa-comment-dots"></i><a href="/dashboard/comentarios">Comentarios</a></li>
      </nav>
  </aside>
  <section class="main">
    <header>
      <h1>Categorias</h1>
    </header>
    <button class="btn" style="background: royalblue; margin: 10px 0px 15px 5px;" onclick="crearCategoria()">Crear categoria</button>
    <section class="content">
      <table id="example" class="display tablausers" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Foros</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < cat.length; i++ ) { %>
            <tr id="categoria<%=cat[i].id%>">
              <td><%= cat[i].id %></td>
              <td><%= cat[i].categoria %></td>
              <td><%= cat[i].foros %></td>
              <td><button class="btn red" onclick="eliminar('<%= cat[i].id %>')">Eliminar</button></td>
              <td><button class="btn grn" onclick="editar('<%= cat[i].id %>')">Editar</button></td>
            </tr>
          <% } %>
      </tbody>
    </section>
  </section>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="/js/dashboardCategorias.js"></script>