<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<main>
  <aside>
    <nav>
      <li onclick="window.location.href= '/'"><i class="fa-solid fa-house"></i><a>Inicio</a></li>
      <li  onclick="window.location.href= '/dashboard'"><i class="fa-solid fa-gauge"></i><a>Dashboard</a></li>
      <li  onclick="window.location.href= '/dashboard/usuarios'"><i class="fa-solid fa-users"></i><a>Usuarios</a></li>
      <li class="active"><i class="fa-solid fa-bookmark"></i><a href="/dashboard/categorias">categorias</a></li>
      <li onclick="window.location.href= '/dashboard/foro'"><i class="fa-solid fa-inbox"></i><a href="/dashboard/foro">Foros</a></li>
      <li  onclick="window.location.href= '/dashboard/posts'"><i class="fa-solid fa-message"></i><a href="/dashboard/posts">Posts</a></li>
      </nav>
  </aside>
  <section class="main">
    <header>
      <h1>Usuarios</h1>
    </header>
    <button class="btn" style="background: royalblue; margin: 10px 0px 15px 5px;" onclick="crearCategoria()">Crear categoria</button>
    <section class="content">
      <table id="example" class="display tablausers" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categoria</th>
                <th>Foros</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < cat.length; i++ ) { %>
            <tr id="categoria<%=cat[i].id%>">
              <td><%= cat[i].id %></td>
              <td><%= cat[i].categoria %></td>
              <td><%= cat[i].foros %></td>
              <td><button class="btn red" onclick="eliminar('<%= cat[i].id %>')">Eliminar</button></td>
              <td><button class="btn grn" onclick="editar('<%= cat[i].id %>')">Editar</button></td>
            </tr>
          <% } %>
      </tbody>
    </section>
  </section>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );

function editar(id){
  let categoria = document.querySelector('#categoria1').children[1].innerText;

  const form = `
    <div class="hideeditar">
    <div class="hideoncl" onclick="document.querySelector('.hideeditar').remove()"></div>
    <div class="boxedit">
      <h2><b>Editar -</b> ${categoria}</h2>
      <div class="inpts">
        <form id="fomeditars">
          <div class="text-field" id="password">
            <input minlength="4" value="${categoria}" required autofocus> 
            <label class="label">Categoria</label>
          </div>
          <input hidden value="${id}">
          <button class="btn grn" type="submit">Editar</button>
          </form>
      </div>
      </div>
      </div>`;
      document.querySelector('body').innerHTML += form;

      document.querySelector('#fomeditars').addEventListener('submit', e => {
        e.preventDefault()
        debugger
        fetch('/editarCategoria',
          {method: 'POST',
          body: JSON.stringify({
            id: e.currentTarget[1].value,
            categoria: e.currentTarget[0].value,
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
          console.log(res);
         if(res.ok){
          document.querySelector('#categoria1').children[1].innerText = res.categoria;
          Swal.fire(
            'Categoria editado correctamente',
            '',
            'success',
          ).then(() => {
            document.querySelector('.hideeditar').remove()
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error en el servidor',
            '',
            'error',
          ).then(() => {
            document.querySelector('.hideeditar').remove()
          })
         }
      });
      })
    }
    

  
  
    function eliminar(id){
  Swal.fire({
  title: `Quieres eliminar esta categoria?`,
  text: 'Se eliminaran todos los foros de esta.\nLos cambios son irreversibles',
  showDenyButton: true,
  showCancelButton: true,
  showConfirmButton: false,
  denyButtonText: `Eliminar`,
}).then((result) => {
  if (result.isDenied) {
    EliminarSi(id);
  }
})
}

function EliminarSi(id){
  fetch('/deleteCategoria',
          {method: 'POST',
          body: JSON.stringify({
            id
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
         if(res.ok){
          Swal.fire(
            'Categoria eliminado correctamente',
            '',
            'success',
          ).then(() => {
            document.querySelector('#categoria'+id).remove()
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error',
            '',
            'error',
            )
         }
      });
}

function crearCategoria(){
  let categoria = document.querySelector('#categoria1').children[1].innerText;

  const form = `
    <div class="hideeditar">
    <div class="hideoncl" onclick="document.querySelector('.hideeditar').remove()"></div>
    <div class="boxedit">
      <h2><b>Crear categoria</b></h2>
      <div class="inpts">
        <form id="newcategory">
          <div class="text-field" id="password">
            <input minlength="4" required autofocus> 
            <label class="label">Categoria</label>
          </div>
          <button class="btn grn" type="submit">Crear</button>
          </form>
      </div>
      </div>
      </div>`;
      document.querySelector('body').innerHTML += form;

      document.querySelector('#newcategory').addEventListener('submit', e => {
        e.preventDefault()
        fetch('/newCategory',
          {method: 'POST',
          body: JSON.stringify({
            categoria: e.currentTarget[0].value,
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
          console.log(res);
         if(res.ok){
          Swal.fire(
            'Categoria editado correctamente',
            '',
            'success',
          ).then(() => {
            window.location.href = '/dashboard/categorias';
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error en el servidor',
            '',
            'error',
          ).then(() => {
            document.querySelector('.hideeditar').remove()
          })
         }
      });
      })
}


</script>