<style>
  form#crearForo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<main>
  <aside>
    <nav>
      <li onclick="window.location.href= '/'"><i class="fa-solid fa-house"></i><a>Inicio</a></li>
      <li  onclick="window.location.href= '/dashboard'"><i class="fa-solid fa-gauge"></i><a>Dashboard</a></li>
      <li  onclick="window.location.href= '/dashboard/usuarios'"><i class="fa-solid fa-users"></i><a>Usuarios</a></li>
      <li onclick="window.location.href= '/dashboard/categorias'"><i class="fa-solid fa-bookmark"></i><a href="/dashboard/categorias">categorias</a></li>
      <li  class="active" onclick="window.location.href= '/dashboard/foro'"><i class="fa-solid fa-inbox"></i><a href="/dashboard/foro">Foros</a></li>
      <li  onclick="window.location.href= '/dashboard/posts'"><i class="fa-solid fa-message"></i><a href="/dashboard/posts">Posts</a></li>
      <li onclick="window.location.href= '/dashboard/comentarios'"><i class="fa-solid fa-comment-dots"></i><a href="/dashboard/comentarios">Comentarios</a></li>
      </nav>
  </aside>
  <section class="main">
    <header>
      <h1>Foros</h1>
    </header>
    <button class="btn gb" style="background: royalblue; margin: 10px 0px 15px 5px;" onclick="crearForo()">Crear foro</button>
    <section class="content">
      <table id="example" class="display tablausers" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Foro</th>
                <th>Categoria</th>
                <th>Descripci칩n</th>
                <th>Color</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < foro.length; i++ ) { %>
            <tr id="foro<%= foro[i].id%>">
              <td><%= foro[i].id%></td>
              <td style="text-align: left;"><%= foro[i].name%></td>
              <td><%= foro[i].cat %></td>
              <td style="text-align: left;"><%= foro[i].description %></td>
              <td style="background: <%= foro[i].color %>;"><%= foro[i].color %></td>
              <td><button class="btn red" onclick="eliminar('<%= foro[i].id %>')">Eliminar</button></td>
              <td><button class="btn grn" onclick="editar('<%= foro[i].id %>')">Editar</button></td>
            </tr>
          <% } %>
      </tbody>
    </section>
  </section>
</main>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
} );

let cat = [];
fetch('/getCategorias',{
  method: 'POST'
}).then(r => r.json())
  .then(r => cat = r.cat );

function crearForo(){
  console.log(cat);

  let c = '';

  cat.forEach(n => {
    c+= `<option value="${n.id}">${n.categoria}</option>`
  })

  const form = `
  <div class="hideeditar">
  <div class="hideoncl" onclick="document.querySelector('.hideeditar').remove()"></div>
  <div class="boxedit">
    <h2><b>Crear foro</b> </h2>
    <div class="inpts" style="padding: 0 15px;">
      <form id="crearForo" >
        <div class="text-field" >
          <input minlength="4" required autofocus> 
          <label class="label">Nombre</label>
        </div>
        <div class="text-field" >
          <input minlength="4" required autofocus> 
          <label class="label">Descripci칩n</label>
        </div>
        <div class="text-field">
          <select required>
            ${c}
          </select>
        </div>
        <input type="file" required>
        <div class="text-field" >
          <input style="padding: 0;" type="color" required autofocus> 
        </div>
        <button class="btn grn" type="submit">Crear</button>
        </form>
      </div>
    </div>
    </div>`;
      document.querySelector('body').innerHTML += form;
      const cf = document.querySelector('#crearForo')

      cf.addEventListener('submit', e => {
        e.preventDefault();
        
        
        file = new FormData();
        file.append('img',cf.children[3].files[0])
        file.append('data', JSON.stringify(
          {
            name : cf.children[0].children[0].value,
            description:cf.children[1].children[0].value, 
            categoria: cf.children[2].children[0].value,
            fondo: cf.children[4].children[0].value
          }
        ))

        fetch('/createforo',{
          method: 'POST',
          body: file
        }).then(r => r.json())
          .then(r => {
            if(r.ok){
              window.location.reload()
            }else{
              window.location.reload()
            }
          })   

      })
    }
    

  
  
    function eliminar(id){
  Swal.fire({
  title: `Quieres eliminar este foro?`,
  text: 'Se eliminar치n todos los likes, comentarios y post.\nLos cambios son irreversibles',
  showDenyButton: true,
  showCancelButton: true,
  showConfirmButton: false,
  denyButtonText: `Eliminar`,
}).then((result) => {
  if (result.isDenied) {
    EliminarSi(id);
  }
})
}

function EliminarSi(id){
  fetch('/deleteForo',
          {method: 'POST',
          body: JSON.stringify({
            id
          }),
          headers:{
            'Content-Type': 'application/json'
          }}
        ).then(res => res.json())
        .then(res => {
         if(res.ok){
          Swal.fire(
            'Foro eliminado correctamente',
            '',
            'success',
          ).then(() => {
            window.location.href = '/dashboard/foro'
          })
         }else{
          Swal.fire(
            'Ha ocurrido un error',
            '',
            'error',
            )
         }
      });
}

function editar(id){
  console.log(cat);

  let c = '';
  fr = document.querySelector('#foro'+id);
  console.log(fr.children[2].innerText)
  cat.forEach(n => {
    if(n.categoria == fr.children[2].innerText ) c+= `<option selected value="${n.id}">${n.categoria}</option>`
    else c+= `<option value="${n.id}">${n.categoria}</option>`
    
  })

  const form = `
  <div class="hideeditar">
  <div class="hideoncl" onclick="document.querySelector('.hideeditar').remove()"></div>
  <div class="boxedit">
    <h2><b>Editar foro</b> </h2>
    <div class="inpts" style="padding: 0 15px;">
      <form id="crearForo" >
        <div class="text-field" >
          <input minlength="4" value="${fr.children[1].innerText}" required autofocus> 
          <label  class="label">Nombre</label>
        </div>
        <div class="text-field" >
          <input minlength="4"  value="${fr.children[3].innerText}" required autofocus> 
          <label class="label">Descripci칩n</label>
        </div>
        <div class="text-field">
          <select required>
            ${c}
          </select>
        </div>
        <input type="file">
        <div class="text-field" >
          <input style="padding: 0;" value="${fr.children[4].innerText}" type="color" required autofocus> 
          <input hidden value="${id}">
        </div>
        <button class="btn grn" type="submit">Editar</button>
        </form>
      </div>
    </div>
    </div>`;
      document.querySelector('body').innerHTML += form;
      const cf = document.querySelector('#crearForo')

      cf.addEventListener('submit', e => {
        e.preventDefault();
        
        
        
        file = new FormData();;
        if(cf.children[3].files[0] != undefined){
          file.append('img',cf.children[3].files[0])
        }
        file.append('data', JSON.stringify(
          {
            id: cf.children[4].children[1].value,
            name : cf.children[0].children[0].value,
            description:cf.children[1].children[0].value, 
            categoria: cf.children[2].children[0].value,
            fondo: cf.children[4].children[0].value
          }
        ))
        

        fetch('/editarForo',{
          method: 'POST',
          body: file
        }).then(r => r.json())
          .then(r => {
            if(r.ok){
              window.location.reload()
            }else{
              window.location.reload()
            }
          })   

      })
    }
    


</script>