<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<style>
  main{
    background: #d8dee4 !important;
  }
  section.main{
    height: 100%;
  }
</style>
<main>
  <aside>
    <nav>
      <li onclick="window.location.href= '/'"><i class="fa-solid fa-house"></i><a>Inicio</a></li>
      <li  onclick="window.location.href= '/dashboard'"><i class="fa-solid fa-gauge"></i><a>Dashboard</a></li>
      <li  onclick="window.location.href= '/dashboard/usuarios'"><i class="fa-solid fa-users"></i><a>Usuarios</a></li>
      <li onclick="window.location.href= '/dashboard/categorias'"><i class="fa-solid fa-bookmark"></i><a href="/dashboard/categorias">categorias</a></li>
      <li onclick="window.location.href= '/dashboard/foro'"><i class="fa-solid fa-inbox"></i><a href="/dashboard/foro">Foros</a></li>
      <li  onclick="window.location.href= '/dashboard/posts'"><i class="fa-solid fa-message"></i><a href="/dashboard/posts">Posts</a></li>
      <li class="active" onclick="window.location.href= '/dashboard/comentarios'"><i class="fa-solid fa-comment-dots"></i><a href="/dashboard/comentarios">Comentarios</a></li>
    </nav> 
  </aside>
  <section class="main">
    <header>
      <h1>Posts</h1>
    </header>
    <section class="content">
      <table id="example" class="display tablausers" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo post</th>
                <th>Foro</th>
                <th>Comentario</th>
                <th>Usuario</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < comments.length; i++ ) { %>
            <tr id="post<%= comments[i].id %>">
              <td><%= comments[i].id%></td>
              <td  style="text-align:start;"><%= comments[i].title%></td>
              <td  style="text-align:start;"><%= comments[i].name%></td>
              <td  style="text-align:start;"><%= comments[i].coment%></td>
              <td style="text-align:start;"><a class="linkuser" href="/profile/<%= comments[i].user %>/temas/"><%= comments[i].username %></a></td>
              <td><button class="btn red" onclick="eliminar('<%= comments[i].id %>')">Eliminar</button></td>
            </tr>
          <% } %>
      </tbody>
    </section>
  </section>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://kit.fontawesome.com/43dede5314.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="/js/dashboardComments.js"></script>
