<style>
  .nohay{
    margin: 50px auto;
    text-align: center;
    font-weight: 400;
    font-size: 35px;
  }
</style>
<main>
  <section>
   <% if (data.cat.length > 0  ) { %>
    <% data.cat.forEach(n => { %>
      <div class="foro">
        <h1><%= n.categoria %></h1>
        <% data.sql.filter(g => g.categoria == n.categoria).forEach((e,i) =>{%>
          <div <% if ((i+1) == data.sql.filter(g => g.categoria == n.categoria).length) { %> style="border: 0;" <% } %> onclick="window.location.href = '/foros/<%= e.id %>/1'">
            <div <%=  `style=background:${e.color};` %>  class="img">
              <img src="<%= e.image %>">
            </div>
            <h2><%= e.name %></h2>
            <h3><%= e.description %></h3>
          </div>
        <% }) %>
      </div>
     <% }) %>
   <% }else{ %>
      <h1 class="nohay">No Hay Categorias</h1>
    <% } %>
  </section>
</main>

