<main>
  <div class="header">
    <h1><%=data.foro%></h1><br>
  </div>
  <div class="footerPag onthetop">
    <a class="button" style="margin: 0"
    <% if (session.ok) { %>
      href="/comentar_post/<%= data.id%>/"
    <% }else{ %> onclick="sesionAlert()" <%} %>
     >Responder / Comentar</a>
    <div id="pagination">
      <div class="before
      <% if (data.page == 1) { %> dissabled" <% } else{ %>" onclick="window.location.href = '/foro/tema/<%= data.foroid %>/<%=data.id%>/<%=parseInt(data.page)-1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
      <p>Página <b><%=data.page%></b> de <b><%=Math.ceil(data.count/data.end)%></b></p>
      <div class="next
      <% if (data.page == Math.ceil(data.count/data.end)) { %> dissabled"
      <% } else{ %>" onclick="window.location.href = '/foro/tema/<%= data.foroid %>/<%=data.id%>/<%=parseInt(data.page)+1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
    </div>
  </div>
  <section class="postBox">
    <div class="header">
      <div class="profile">
        <img src="<%= data.post.picture %>" alt="">
        <a href="/foros/<%= data.foroid%>/1/"><%= data.foro %></a>
        <div>
          <a href="/profile/<%= data.post.userId %>/"><%= data.post.username %></a>
          <span>
            <img src="https://img.icons8.com/ios-glyphs/60/000000/comments.png"/>
            <%=data.post.commentNum+data.post.postNum%>
          </span>
        </div>
      </div>
      <div class="info">
        <p>
          <% if (data.post.created.y != 0) { %>
            <%= data.post.created.y == 1 ? 'Hace '+data.post.created.y+' Año': 'Hace '+data.post.created.y+' Años'%>
         <% }else if(data.post.created.mo != 0){ %>
            <%= data.post.created.mo == 1 ? 'Hace '+data.post.created.mo+' Mes': 'Hace '+data.post.created.mo+' Meses'%>
          <% }else if(data.post.created.d){ %>
            <%= data.post.created.d == 1 ? 'Hace '+data.post.created.d+' Día' : 'Hace '+data.post.created.d+' Días'%>
          <% }else if(data.post.created.h){ %>
            <%= data.post.created.h == 1 ? 'Hace '+data.post.created.h+' Hora' : 'Hace '+data.post.created.h+' Horas'%>
          <% }else if(data.post.created.m){ %>
            <%= data.post.created.m == 1 ? 'Hace '+data.post.created.m+' Minuto' : 'Hace '+data.post.created.m+' Minutos'%>
          <% }else if(data.post.created.s){ %>
            <%= data.post.created.s == 1 ? 'Hace '+data.post.created.s+' Segundo' : 'Hace '+data.post.created.s+' Segundos'%>
          <% } %>
          / RESPUESTAS: <%=data.post.countcoment%> / LECTURAS: <%= data.post.views%></p>
      </div>
    </div>
    <div class="content">
      <h1 class="titlePost_"><%= data.post.title %></h1>
    <%- data.post.content%>  
    </div>
    <div class="footer">
      <img src="https://img.icons8.com/cotton/64/000000/facebook-like--v2.png"
      <% if (typeof(session) != 'undefined' && session.ok) { %>
        onclick="postLike(<%= data.id%>)" id="postimg<%= data.id%>"
      <% } %>
      <% if (data.like.length == 1) { %>
        class="imlikeon"
      <% } %>
      >
      <p id="post<%= data.id%>"><%=data.post.likes%></p>
    </div>
  </section>
  <div class="commentsBox">
   <% data.com.forEach((n,i) => { %>
    <div class="comment_">
      <div class="header">
        <div class="user">
          <img src="<%= n.picture %>" onclick="window.location.href = '/profile/<%= n.userid %>/' ">
          <a href="/profile/<%= n.userid %>/"><%= n.username %></a>
          <span>
            <img src="https://img.icons8.com/ios-glyphs/60/000000/comments.png"/>
            <%=n.commentNum+n.postNum%>
          </span>
        </div>
        <div class="minfo">
          <% if (n.created.y != 0) { %>
            <%= n.created.y == 1 ? 'Hace '+n.created.y+' Año': 'Hace '+n.created.y+' Años'%>
         <% }else if(n.created.mo != 0){ %>
            <%= n.created.mo == 1 ? 'Hace '+n.created.mo+' Mes': 'Hace '+n.created.mo+' Meses'%>
          <% }else if(n.created.d){ %>
            <%= n.created.d == 1 ? 'Hace '+n.created.d+' Día' : 'Hace '+n.created.d+' Días'%>
          <% }else if(n.created.h){ %>
            <%= n.created.h == 1 ? 'Hace '+n.created.h+' Hora' : 'Hace '+n.created.h+' Horas'%>
          <% }else if(n.created.m){ %>
            <%= n.created.m == 1 ? 'Hace '+n.created.m+' Minuto' : 'Hace '+n.created.m+' Minutos'%>
          <% }else if(n.created.s){ %>
            <%= n.created.s == 1 ? 'Hace '+n.created.s+' Segundo' : 'Hace '+n.created.s+' Segundos'%>
          <% } %>
        </div>
      </div>
      <div class="content">
        <%- n.coment %>
      </div>
      <div class="footer">
        <img src="https://img.icons8.com/cotton/64/000000/facebook-like--v2.png"
        <% if (typeof(session) != 'undefined' && session.ok) { %>
          onclick="likeComment(<%= n.id %>)" id="commentimg<%= n.id %>"
        <% } %>
        <% if (data.userlikescom  && data.userlikescom.find(d => d.comment == n.id) != undefined) { %>
          class="imlikeon"
        <% } %>
        >
        <p id="comment<%= n.id %>"><%=n.likes%></p>
      </div>
    </div>
   <% }) %>
  </div>
  <div class="footerPag onthetop">
    <a class="button" style="margin: 0"
    <% if (session.ok) { %>
      href="/comentar_post/<%= data.id%>/"
    <% }else{ %> onclick="sesionAlert()" <%} %>
     >Responder / Comentar</a>
    <div id="pagination">
      <div class="before
      <% if (data.page == 1) { %> dissabled" <% } else{ %>" onclick="window.location.href = '/foro/tema/<%= data.foroid %>/<%=data.id%>/<%=parseInt(data.page)-1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
      <p>Página <b><%=data.page%></b> de <b><%=Math.ceil(data.count/data.end) %></b></p>
      <div class="next
      <% if (data.page == Math.ceil(data.count/data.end)) { %> dissabled"
      <% } else{ %>" onclick="window.location.href = '/foro/tema/<%= data.foroid %>/<%=data.id%>/<%=parseInt(data.page)+1%>/'"<% } %> 
      ><img src="https://img.icons8.com/metro/52/000000/chevron-left.png"/></div>
    </div>
  </div>
</main>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function postLike(e){
    fetch('/post/like/',{
      method: 'POST',
      body: JSON.stringify({id: e}),
      headers:{ 'Content-Type': 'application/json'}
    })
    .then(resp => resp.json())
    .then(resp => {
      if(resp.ok){
        x = document.querySelector(`#post${e}`)
        c = document.querySelector(`#postimg${e}`)
        if(resp.action === '+'){
          x.innerHTML = parseInt(x.innerHTML)+1
          c.classList.add('imlikeon')
        }else{
          x.innerHTML = parseInt(x.innerHTML)-1
          c.classList.remove('imlikeon')
        }
      }
    })
  }

  function likeComment(e){
    fetch('/comment/like/',{
      method: 'POST',
      body: JSON.stringify({id: e}),
      headers:{ 'Content-Type': 'application/json'}
    })
    .then(resp => resp.json())
    .then(resp => {
      if(resp.ok){
        x = document.querySelector(`#comment${e}`)
        c = document.querySelector(`#commentimg${e}`)
        if(resp.action === '+'){
          x.innerHTML = parseInt(x.innerHTML)+1
          c.classList.add('imlikeon')
        }else{
          x.innerHTML = parseInt(x.innerHTML)-1
          c.classList.remove('imlikeon')
        }
      }
    })
  }
</script>