<main>
  <div class="header">
    <h1><%=data.foro%></h1><br>
    <a class="button" href="/nuevo_post/<%= data.id%>/">Responder / Comentar</a>
  </div>
  <section class="postBox">
    <div class="header">
      <div class="profile">
        <img src="<%= data.post.picture %>" alt="">
        <a href="/foros/<%= data.foroid%>/1/"><%= data.foro %></a>
        <div>
          <a href="/profile/<%= data.post.username %>/"><%= data.post.username %></a>
          <span>
            <img src="https://img.icons8.com/ios-glyphs/60/000000/comments.png"/>
            <%=data.post.commentNum+data.post.postNum%>
          </span>
        </div>
      </div>
      <div class="info">
        <p>
          <% if (data.post.created.y != 0) { %>
            <%= data.post.created.y == 1 ? 'Hace'+data.post.created.y+' Año': 'Hace'+data.post.created.y+' Años'%>
         <% }else if(data.post.created.mo != 0){ %>
            <%= data.post.created.mo == 1 ? 'Hace'+data.post.created.mo+' Mes': 'Hace'+data.post.created.mo+' Meses'%>
          <% }else{ %>
            <%= data.post.created.d == 1 ? 'Hace'+data.post.created.d+' Día': data.post.created.d == 0 ? 'Hoy': 'Hace'+data.post.created.d+' Días'%>
          <% } %>
          / RESPUESTAS: <%=data.post.countcoment%> / LECTURAS: <%= data.post.views%></p>
      </div>
    </div>
    <div class="content">
      <h1 class="titlePost_"><%= data.post.title %></h1>
    <%- data.post.content%>  
    </div>
    <div class="footer">
      <img src="https://img.icons8.com/cotton/64/000000/facebook-like--v2.png"
      <% if (typeof(session) != 'undefined' && session.ok) { %>
        onclick="window.location.href = '/like/<%=data.foroid%>/<%=data.id%>'"  
      <% } %>
      <% if (data.like.length == 1) { %>
        class="imlikeon"
      <% } %>
      >
      <p><%=data.post.likes%></p>
    </div>
  </section>
</main>
<script>
</script>